.nav {
  width: 100px;
  height: 100vh;
  padding-top: 100px;
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    width: 100%;
    height: 100px;
    text-align: center;
    cursor: pointer;

    img {
      width: 50px;
      transition: opacity .15s;

      &:hover {
        opacity: 0.8;
      }
    }

  }
}
