.nav {
  width: 100px;
  height: 100vh;
  padding-top: 100px;
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    width: 100%;
    height: 100px;
    text-align: center;
    cursor: pointer;
    position: relative;

    img {
      width: 50px;
      transition: opacity .15s;

      &:hover {
        opacity: 0.7;
      }
    }

    &__status {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      position: absolute;
      right: 2px;

      &--ok {
        background: var(--success-color-primary);
      }
      &--nok {
        background: var(--error-color-primary);
      }
    }
  }
}
