.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  &__label {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0.8rem;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 9px 12px;
    border-radius: 18px;
    border: none;
    outline: none;
    resize: none;
    background: var(--dark);
    color: var(--text-white);
    font-size: 14px;
    box-shadow: 0 0 0 1px #2f3b43;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: #4a90e2;
      box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.25);
    }

    &::placeholder {
      color: #aaa;
    }

    &:disabled {
      box-shadow: none;
      padding-left: 0;
    }
  }
}

