.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  &__label {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0.8rem;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 9px 12px;
    border-radius: 18px;
    border: none;
    outline: none;
    resize: none;
    background: var(--dark);
    color: var(--text-white);
    font-size: 14px;
    box-shadow: 0 0 0 1px #2f3b43;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: #4a90e2;
      box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.25);
    }

    &::placeholder {
      color: #aaa;
    }

    &:disabled {
      box-shadow: none;
      padding-left: 0;
    }
  }

  &--textarea__input {
    width: 100%;
    min-height: 140px;
    padding: 12px 14px;

    font-size: 0.85rem;
    line-height: 1.4;

    font-family: "Courier New";
    color: var(--primary-color);
    background: var(--dark);

    border: 1px solid #3a3a3a;
    border-radius: 15px;

    resize: none;
    cursor: text;
    user-select: all;

    overflow-wrap: break-word;
    word-break: break-all;

    line-height: 1.5;
    letter-spacing: 0.5em;
    overflow: hidden;

    transition: border-color 0.15s ease, box-shadow 0.15s ease;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(77, 163, 255, 0.25);
    }

    &:disabled {
      background: var(--bg-dark);
    }
  }
}

