.chat__top {
  width: 100%;
  height: 75px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: sticky;
  left: 0;
  top: 0;
}

.chat__contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  &__image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nickname {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.chat__messages {
  width: 100%;
  height: calc(100vh - 125px);
  padding: 25px 50px;
  box-sizing: border-box;
  overflow-y: scroll;
}
