.chat-input {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  box-sizing: border-box;
  flex-direction: row;
  gap: 10px;

  &__text {
    width: 100%;
    max-height: 90px;  
    padding: 9px 12px;
    border-radius: 18px;
    border: none;
    outline: none;
    resize: none;      
    background: var(--dark); 
    color: var(--text-white);
    font-size: 14px;
    line-height: 1;
    box-shadow: 0 0 0 1px #2f3b43;
    box-sizing: border-box;
  }

  &__send-btn {
    width: 30px;
    height: 30px;
  }
}
