.message {
  padding: 15px;
  padding-bottom: 25px;
  padding-right: 50px;
  max-width: 55%;
  border-radius: 15px;
  margin-bottom: 20px;
  clear: both;
  position: relative;

  &--optimistic {
    opacity: 0.7;
  }

  &--incoming {
    background: var(--gray);

    .message__timestamp {
      color: var(--gray-dark);
    }

    .message__info {
      right: 12px;
    }
  }

  &--outgoing {
    background: var(--secondary-color);
    float: right;
    
    .message__timestamp {
      color: var(--text-white);
    }
  }

  &--unverified {
    background: var(--error-color-primary);
    border: solid 2px var(--error-color-secondary);
    
    .message__timestamp {
      color: var(--text-white);
    }
  }

  &__info {
    position: absolute;
    right: 7px;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
  }

  &__timestamp {
    font-size: 0.8rem;
  }

  &__sent-status {
    width: 14px;
  }

  &__unverified-error {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: 600;
    margin-bottom: 10px;

    &__image {
      width: 25px;
    }
  }
}


