.contact {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: default;

  &:hover {
    background: var(--bg-soft);
  }

  &__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__unread-amount {
    width: 20px;
    height: 20px;
    background-color: var(--error-color-primary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-left: 20px;
    font-weight: 600;
  }
}

