#contact-list-wrapper {
  width: 350px;
  height: 100vh;
  background: #151f2f;
  overflow-y: auto;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

#chats-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 75px;
  padding: 0 25px;
  background: #151f2f;
  position: sticky;
  top: 0;

  #chats-title {
    font-size: 1.25em;
    font-weight: bold;
  }

  #new-chat-button {
    width: 25px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

#contact-list {
  display: flex;
  flex-direction: column;
}

