.contact {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  padding: 15px;
  cursor: default;

  &:hover {
    background: #0e1b2d;
  }
}

.contact-image {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  margin-right: 15px;
  background-color: #b6e269;
}

