:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color-scheme: dark;
  --bg: #19222f;
  --bg-soft: #101225;
  --bg-dark: #151f2f;
  --primary-color: #B6E269;
  --primary-color-accent: #240B3A;
  --secondary-color: #58316B;
  --accent-soft: rgba(79, 70, 229, 0.12);
  --text-main: #e5e7eb;
  --text-muted: #9ca3af;
  --border-subtle: rgba(148, 163, 184, 0.2);
  --radius-xl: 18px;
  --shadow-soft: 0 18px 45px rgba(15, 23, 42, 0.7);
  --text-white: #FFFFFF;
  --text-dark: #151419;
  --gray: #777777;
  --gray-dark: #4F4F4F;
  --error-color-primary: #DC3545;
  --error-color-secondary: #BA2D3A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: var(--bg);
  color: var(--text-main);
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

