name: CI

on:
  push:
    branches: [main]
  pull_request:

env: 
  CARGO_TERM_COLOR: always

jobs:
  cargo-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fmt --all -- --check
  
  cargo-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - name: Install sys dependencies
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            pkg-config \
            libgtk-3-dev \
            libjavascriptcoregtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev
      - run: cargo check --workspace --all-targets
  
  cargo-clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - name: Install sys dependencies
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            pkg-config \
            libgtk-3-dev \
            libjavascriptcoregtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev
      - run: cargo clippy --workspace --all-targets -- -D warnings
