name: CI

on:
  push:
    branches: [main]
  pull_request:

env: 
  CARGO_TERM_COLOR: always

jobs:
  cargo-ftm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check
